
*.tlog
*.manifest
*.res
*.lastbuildstate
*.log
*.ipch
*.idb
*.pdb
Star-Guardian.vcxproj.user
Debug/main.obj
Star-Guardian.opensdf
Star-Guardian.sdf
Star-Guardian.sln
Star-Guardian.suo
Star-Guardian.vcxproj
Star-Guardian.vcxproj.filters
Debug/Star-Guardian_manifest.rc
Debug/Star-Guardian.ilk
Debug/SDL_image.dll
Debug/SDL.dll
Debug/Star-Guardian.exe
Debug/hello.bmp
Debug/Star-Guardian.unsuccessfulbuild